* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}
a {
text-decoration: none;
padding-left: 10px;
color: black;
}
/* Style the header */
header {
    color: white;
}

/* Create two columns/boxes that floats next to each other */
nav {
/*    float: left;
    width: 30%;
    height: 300px; /* only for demonstration, should be removed */
/*    background: #ccc;
    padding: 20px; */
}

/* Style the list inside the menu */
nav ul {
/*    list-style-type: none;
    padding: 0; */
}

article {
    float: left;
    padding: 20px;
    width: 70%;
    background-color: #f1f1f1;
    height: 300px; /* only for demonstration, should be removed */
}

/* Clear floats after the columns */
section:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the footer */
footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
    nav, article {
/*        width: 100%;
        height: auto;*/
    }
}

.element {
    /*background-color: #222;*/
    display: inline-block;
    /*height: 2.2rem;*/
    height: 45px;
    width: 150px;
    font-size: 16px;
    border: none;
    color: var(--main-fg-color-n);
    /*padding: 15px;*/
    text-align: center;
    background-color: rgba(219, 0, 16, 0.71);
    /*border-radius: 5px;*/
}

ul {
  display: flex;
}

li {
  list-style-type: none;
}


#body {
   padding-right: 50px;
   margin-right: 50px;
   margin-left: 50px;
}

.common {
  position: relative;
  float: right;
}


