bower_components/
.sass-cache/
.tmp/
.vagrant/
dist/
temp/
.idea/
.DS_Store
*.xml
*.iml
reports/
deploy_key
deploy_key.pub
dist.tar.gz
deploy/*.ver
deploy/upstream.conf
*.pem
*.tar.gz
to_upload/
dist-*/
*.pyc
npm-debug.log
backend/pkg
pkg/
*.swp
node_modules/
old_frontend/node_modules/
/node_modules
/.pnp
.pnp.js
/coverage
/build
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
