@import url('https://fonts.googleapis.com/css?family=Arimo');

* {
    font-family: 'Arimo', sans-serif;
}

:root {
    --main-bg-color-n: #171717;
    --main-fg-color-n: #ffffff;
    --cell-color-n: #222222;

    --main-bg-color-d: #e7e7e7;
    --main-fg-color-d: #000000;
    --cell-color-d: #ffffff;

    --elem-size: 2.5%;
}

body.nightT {
    background-color: var(--main-bg-color-n) !important;
    color: var(--main-fg-color-n);
}

body.dayT {
    background-color: var(--main-bg-color-d) !important;
    color: var(--main-fg-color-d);
}

table {
    /*width: 100%;*/
}

table.nightT {
    color: var(--main-fg-color-n);
}

table.dayT {
    color: var(--main-fg-color-d);
}

.tHeader {
    text-align: center;
    width: 100%;
}

.tHeader h1 {
    display: inline-block;
    margin: 1em;
    width: 500px;
}

.header-button {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
}

body.nightT .header-button {
    background-color: var(--cell-color-n);
    color: var(--main-fg-color-n);
}

body.dayT .header-button.dayT {
    background-color: var(--cell-color-d);
    color: var(--main-fg-color-d);
}

table, th, td {
    border: none;
}

body.nightT table, body.nightT th, body.nightT td {
    color: var(--main-fg-color-n);
}

body.dayT table, body.dayT th, body.dayT td {
    color: var(--main-fg-color-d);
}

th, td {
    padding: 5px;
    text-align: center;
}

body.nightT th, body.nightT td {
    background-color: var(--cell-color-n);
}

body.dayT th, body.dayT td {
    background-color: var(--cell-color-d);
}

.buttons {
    margin-top: 45px;
    width: 100%;
    text-align: center;
}

body.nightT .buttons {
    color: var(--main-fg-color-n);
}

body.dayT .buttons {
    color: var(--main-fg-color-d);
}

.element {
    /*background-color: #222;*/
    display: inline-block;
    /*height: 2.2rem;*/
    height: 45px;
    width: 150px;
    font-size: 16px;
    border: none;
    color: var(--main-fg-color-n);
    /*padding: 15px;*/
    text-align: center;
    background-color: rgba(219, 0, 16, 0.71);
    /*border-radius: 5px;*/
}

.element:hover {
    background-color: rgba(255, 3, 0, 0.9);
}

.element:active {
    background-color: rgba(152, 1, 0, 0.8);
}

.cell {
    width: var(--elem-size);
    /*height: var(--elem-size);*/
    height: 36px;
}

body.nightT .night {
    background-color: #5946e2 !important;
}

body.dayT .night {
    background-color: #453986 !important;
}

body.nightT .day {
    background-color: rgba(237, 222, 57, 0.8) !important;
}

body.dayT .day {
    background-color: rgba(207, 191, 34, 0.8) !important;
}

body.dayT .vac {
    background-color: rgba(69, 207, 192, 0.8) !important;
}

body.nightT .vac {
    background-color: rgba(69, 207, 192, 0.8) !important;
}

.nightAll {
    background-color: rgba(89, 90, 226, .2) !important;
}

.dayAll {
    background-color: rgba(231, 237, 58, .2) !important;
}

.holiday {
    background-color: rgba(240, 90, 109, 0.36) !important;
}

/*.name {*/
    /*background-color: #3c7d32;*/
    /*width: 15em;*/
/*}*/

#mainTable {
    width: 1800px;
    /*width: 100%;*/
    /*padding-left: 10%;*/
    /*padding-right: 10%;*/
    /*margin-left: 15%;*/
    margin-left: calc(50% - 900px);
}

.authform {
    position: fixed;
    width: 350px;
    height: 200px;
    left: calc(50% - 175px);
    top: calc(50% - 100px);
    text-align: center;
}

.authform input[type="button"] {
    width: 100%;
    height: var(--elem-size);
}

.authform input[type="text"] {
    width: 95%;
    margin-bottom: 1em;
    margin-top: 1em;
    height: var(--elem-size);
}

.authform input[type="password"] {
    width: 95%;
    margin-bottom: 1em;
    height: var(--elem-size);
}

.authwarn {
    visibility: hidden;
    margin-top: 1em;
    border: 1px solid red;
    width: 100%;
    height: var(--elem-size);
    background-color: rgba(255, 0, 0, .1);
    line-height: 2;
    color: red;
}

@media screen and (max-width: 1920px) {
    #mainTable {
        width: 100%;
        margin-left: 0;
    }
}
