.block {
    margin-top: 80px;
    width: 70%;
    padding-right:20px;
}


.info {
    float:right;
    width: 20%;
    border-width: 1px;
    border-style: inset;
}


.block section {
    margin-top: 50px;
}
