.form-group {
    margin-top:50px;
}

.ck-editor__editable_inline {
    min-height: 400px;
}

body {

    /*  main-text() */
    position: relative;
    min-width: 960px;
    height: 100%;
    padding: 0;
    /*color $primary-color
    background-color $page-bg */
}
