.logo {
    float:left;
    padding-right: 20px;
}

.Logo-img {
    height: 50px;
    width: 50px;
    border: 2px solid black;
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 180px;

}

.header {
    margin-top: 50px;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navigation ul li {
    float: left;
    border-right:1px solid #bbb;
}

.navigation ul li a {
    display: block;
    color: #5C5C5C;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navigation ul li a:hover:not(.active) {
    color: #6699FF;
}

.active {
    color: #6699FF;
}
