@import url(https://fonts.googleapis.com/css?family=Arimo:400,400italic|Playfair+Display+SC:400,700&subset=latin,cyrillic);


.article {
    margin-top: 40px;
    overflow: hidden;
}


.articleBody {
    text-align: justify;
    margin-top: 20px;
}


.hr {
    display: block;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}



/* should be in assets */

.block {
    margin-top: 50px;
    width: 80%;
}


.info {
    float:right;
    width: 20%;
    border-width: 1px;
    border-style: inset;
    margin-left: 30px;
}
